@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-pulse {
  0% {
    border-color: rgb(255, 255, 255);
  }
  50% {
    border-color: rgba(255, 255, 255, 0);
  }
  100% {
    border-color: rgb(255, 255, 255);
  }
}

@layer base {
  .animate-border-pulse-fast {
    animation: border-pulse 0.4s infinite;
  }

  .animate-border-pulse-slow {
    animation: border-pulse 0.8s infinite;
  }
  
}

.rw-btn-wrapper{
    @apply border-2 absolute border-white hover:p-2 w-48 h-10 hover:h-12 hover:w-[12.5rem] hover:scale-105 select-none [&>*]:hover:border-white hover:[&>*]:animate-border-pulse-fast rounded-xl p-1 transition-all duration-150 ease-out flex justify-center items-center;
}

.rw-btn {
  @apply bg-transparent border-transparent absolute w-48 h-10  p-1 text-white font-rodondo transition-all select-none text-2xl py-1 px-0 items-center justify-center rounded-xl border-2 flex;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, #202020, #111119);
}

.rain {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.rain.back-row {
  bottom: 60px;
  opacity: 0.5;
}

body.back-row-toggle .rain.back-row {
  display: block;
}

.drop {
  position: absolute;
  bottom: 100%;
  width: 15px;
  height: 120px;
  pointer-events: none;
  animation: drop 0.5s linear infinite;
}

@keyframes drop {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

.stem {
  width: 1px;
  height: 60%;
  margin-left: 7px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
  animation: stem 0.5s linear infinite;
}

@keyframes stem {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.splat {
  width: 15px;
  height: 10px;
  border-top: 2px dotted rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  opacity: 1;
  transform: scale(0);
  animation: splat 0.5s linear infinite;
  display: none;
}

body.splat-toggle .splat {
  display: block;
}

@keyframes splat {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(0);
  }
  90% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.pip-rotate{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  
}

.timerFade-enter-active {
  transition-delay: 0.5s;
  transition: opacity 0.5s ease;
}

.timerFade-leave-active {
  transition: opacity 0.5s ease;
}

.timerFade-enter-from,
.timerFade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* transition that fades in from the bottom and fades out to the bottom */

.song-enter-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.song-leave-active {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.song-enter-from,
.song-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

@layer base {
    @font-face {
      font-family: 'Rodondo';
      src: url(~/fonts/Rodondo.otf) format('opentype');
      ascent-override: 70%;
    }
  }